.buttonBase {
  border-radius: var(--radius);
  cursor: pointer;
  display: inherit;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.buttonBase:hover {
  filter: contrast(120%);
}

/* Variants */
.buttonVariantDefault {
  font-weight: 400;

  border: 1px solid var(--border);

  color: var(--button-text-default);
  background-color: var(--button-bg-default);
}

.buttonVariantIcon {
  background: transparent;
  border: none;
}

.buttonVariantLink {
  background: transparent;
  border: none;

  color: var(--button-text-default);
}

.buttonVariantBrand {
  border: 1px solid var(--border-brand);

  color: var(--text-inverted);
  background-color: var(--primary-light);
}
.buttonVariantGhost {
  background: transparent;
  border: 1px solid var(--border-brand);
  color: var(--text);
}

/* Sizing */
.button_sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.button_base {
  font-size: 0.95rem;
  padding: 0.5rem 0.85rem;
}

.button_md {
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.button_lg {
  padding: 0.9rem 1.1rem;
  font-size: 1.05rem;
}
