.cardWrapper {
  display: flex;

  background-color: var(--surface);
  border: 1px solid var(--border-surface);
  border-radius: var(--radius-md);

  padding: 0.75rem 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.25rem;
}
.title {
  font-size: 1.15rem;
  font-weight: 500;
}

.description {
  font-size: 1rem;
  font-style: 400;
}
