.cardWrapper {
  display: flex;

  background-color: var(--surface);
  border: 1px solid var(--border-surface);
  border-radius: var(--radius-md);

  position: relative;
  overflow: hidden;
  min-height: 200px;

  box-shadow: 0px 2px 6px 0px var(--border-surface);
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.25rem;
  padding: 0.75rem 1rem;

  z-index: 10;

  color: var(--text);
}
.title {
  font-size: 1.15rem;
  font-weight: 500;
  z-index: 10;
}

.description {
  font-size: 1rem;
  font-style: 400;
  z-index: 10;
}

.thumbnail {
  width: 100%;
  height: auto;

  position: absolute;
  inset: 0;
  opacity: 0.7;

  filter: blur(12px);
  transition: filter 250ms ease-in;

  z-index: 1;
}

.cardContent:hover .thumbnail {
  filter: blur(1px);
  transition: filter 250ms ease-out;
}

.cardContent:hover.cardContent::after {
  content: "View More";
  position: absolute;
  left: 50%;
  bottom: 10%;

  transform: translate(-50%, -10%);

  width: 50%;
  text-align: center;

  margin-inline: auto;

  color: var(--text);
  z-index: 10;

  animation: fadeIn 250ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
