.customLinkBase {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  z-index: 100;
}
.customLinkBase:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.fontSize_sm {
  font-size: 0.8rem;
}
.fontSize_base {
  font-size: 0.9rem;
}
.fontSize_md {
  font-size: 1rem;
}
.fontSize_lg {
  font-size: 1.1rem;
}
.customLink_default {
  color: var(--text-secondary);
}
.customLink_muted {
  color: var(--text-muted);
  font-weight: 500;
}
.customLink_muted:hover {
  color: var(--text-secondary);
}
.customLink_link {
  color: var(--text-link);
}
.customLink_link:visited {
  text-decoration: underline;
  font-weight: 500;
}
.customLink_icon {
  color: var(--primary);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.customLink_icon:hover {
  color: var(--text-link);
}
.customLink_active {
  text-decoration: underline;
  text-underline-offset: 4px !important;
  color: var(--text);
}
.externalIcon {
  margin-bottom: 8px;
  font-size: 0.7rem;
  opacity: 0.8;
}
.customLinkBase:hover .externalIcon {
  opacity: 1;
}

.customLink_wrapper {
  color: var(--primary);
  cursor: pointer;

  height: 100%;
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 1000;
}
.customLink_wrapper:hover {
  text-decoration: none;
}
