.hero {
  padding-block: clamp(8rem, 20vw, 15rem);
  padding-inline: 1.25rem;
}

.heroContent {
  max-inline-size: 72em;
  margin-inline: auto;

  display: grid;
  gap: 1rem;
  justify-items: start;
}

.heroEyebrow {
  font-size: 1rem;
  font-weight: 600;
}
.heroHeading {
  font-size: clamp(2.5rem, 1.5rem + 4vw, 5rem);
  line-height: 1.1;

  max-inline-size: 18ch;
}
.heroDescription {
  max-inline-size: 52ch;
  font-size: 1.125rem;
  line-height: 1.6;
}

.projectFeatures {
  display: grid;
  row-gap: 2rem;
}

.cardFeatureWrapper {
  display: flex;
  flex-direction: column;
}

.cardTitleWrapper {
  padding: 1rem;
}

.cardListWrapper {
  display: grid;

  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  padding-inline: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .cardListWrapper {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1rem;
  }
}
