.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  position: relative;
}

.homeButton {
  position: absolute;
  left: 10px;
  top: 0.75svh;
}
.header {
  display: grid;
  row-gap: 1rem;
  position: relative;
  padding-top: 2rem;
  margin-top: 10px;
  /* border: 1px solid red; */
}
.headerTitleSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  /* border: 1px solid orange; */
}
.headerTitleSection > h1 {
  line-height: 1.1;
  text-align: center;
  padding: 0.5rem;
}

.projectHeaderDescription {
  border-radius: var(--radius-lg);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;

  /* border: 1px solid blue; */
}
.projectHeaderTagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.introAndTechSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 4rem;
  min-width: 50svw;
  margin-top: 1.25rem;
  margin-inline: 1rem;
  background: linear-gradient(var(--surface-hover), var(--surface));
  padding: 0.75rem 0.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-surface);
}
.introSection {
  flex: 1;
  min-width: 200px;
  padding-inline-start: 0.5rem;
}
.introSection > p {
  padding-inline: 0.25rem;
}
.techSection {
  flex: 1;
  padding-inline-start: 0.25rem;
}
.techTable {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1.5rem;
  padding-inline-start: 0.25rem;
  line-height: 1.35;
}

.contentBlock {
  padding: 1rem 0.75rem;
  min-width: 50svw;
  margin-bottom: 1rem;
}
.textHeading {
  line-height: 1.25;
  padding-block: 0.25rem;
}
.paragraph {
  padding-inline: 2px;
  padding-top: 0.25rem;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .headerTitleSection > div,
  .headerTitleSection > div:last-child:nth-child(odd) {
    width: auto;
  }
}
