.page {
  position: relative;
  min-height: 100dvh;
  max-width: min(calc(100svw - 2rem), 1250px);
  margin: auto;
  padding: 1rem;
}

.info-label {
  font-size: 0.95rem;
  color: var(--text-secondary);
}
