:root {
  --primary-dark: oklch(37% 0.1 257);

  --fancy-text: "Raleway";
  --base-text: "IBM Plex Sans";

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius: 6px;
  --radius-lg: 10px;
  --radius-round: 99px;

  --header-height: 60px;
  font-size: 100%;
}

:root {
  color-scheme: light;

  --primary: oklch(57% 0.1 257);
  --primary-light: oklch(60% 0.13 257);
  --primary-dark: oklch(50% 0.1 257);

  --text: oklch(22.659% 0.02959 275.103);
  --text-highlight: oklch(10.212% 0.00001 271.152);
  --text-secondary: oklch(46.477% 0.03768 267.522);
  --text-muted: oklch(60.22% 0.00002 271.152);
  --text-link: #315fad;
  --text-brand: oklch(50% 0.11 265);
  --text-inverted: #fff;

  --bg: #fafafa;

  --surface: oklch(100% 0 0);
  --surface-hover: oklch(97% 0 0);
  --surface-clear: oklch(95% 0 1 / 0.29);

  --border: oklch(90% 0 0);
  --border-hover: oklch(80% 0 0);
  --border-brand: oklch(90.968% 0.05 265);
  --border-surface: oklch(90% 0 0);

  --divider: #afafaf;

  --green-badge-bg: #e6f3ec;
  --green-badge-border: #bddccb;
  --green-badge-text: #286348;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --primary: oklch(57% 0.1 257);
  --primary-light: oklch(77% 0.1 257);
  --primary-dark: oklch(65% 0.1 257);

  --text: oklch(89% 0 0);
  --text-highlight: #fafafa;
  --text-secondary: oklch(80% 0 0);
  --text-muted: oklch(70% 0 0);
  --text-link: oklch(70% 0.3 265);
  --text-brand: oklch(60% 0.11 265);
  --text-inverted: #000;

  --bg: oklch(0% 0 0);

  --surface: oklch(17% 0 0);
  --surface-hover: oklch(20% 0 0);
  --surface-clear: oklch(39.514% 0 1 / 0.29);

  --border: oklch(25% 0 0);
  --border-hover: oklch(30% 0 0);
  --border-brand: oklch(35% 0.035 275);
  --border-surface: oklch(25% 0 0);

  --divider: #646464;

  --green-badge-bg: #21342f;
  --green-badge-border: #bddccb;
  --green-badge-text: #b0d6c7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--base-text), Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

#Projects,
#Timeline {
  scroll-margin-top: 100px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}

.p0\.5 {
  padding: 0.5rem;
}

.p1 {
  padding: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.half-width {
  width: 50%;
  margin-inline: auto;
}
.quarter-width {
  width: 25%;
  margin-inline: auto;
}

.relative {
  position: relative;
  overflow: hidden;
}

.line-item {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

.text-block {
  padding: 1rem;
  text-align: left;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin-block: clamp(1.25rem, 4vw, 3rem);
}
