:root {
  --primary: oklch(57% 0.1 257);
  --primary-light: oklch(77% 0.1 257);
  --primary-dark: oklch(37% 0.1 257);

  --fancy-text: "Raleway";
  --base-text: "IBM Plex Sans";

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius: 6px;
  --radius-lg: 10px;
  --radius-round: 99px;

  --header-height: 60px;
}

#root {
  font-family: var(--base-text), Arial, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  color-scheme: light;
  --primary-soft: var(--primary-dark);
  --primary-deep: var(--primary-light);

  --text: #171717;
  --text-highlight: #060606;
  --text-secondary: #121212;
  --text-link: oklch(55% 0.2 260);

  --button-text-default: var(--text-secondary);

  --bg: #fafafa;

  --surface: #f3f1f1;
  --surface-clear: #e0dede4a;
  --surface-hover: oklch(90.968% 0.00212 14.359);

  --button-bg-default: #e6e6ec;

  --border: #afafaf;
  --border-surface: #dddddd;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --primary-soft: var(--primary-dark);
  --primary-deep: var(--primary-light);

  --text: #ddd;
  --text-highlight: #fafafa;
  --text-secondary: #ccc;
  --text-link: oklch(85% 0.35 270);

  --button-text-default: var(--text-secondary);

  --bg: #060606;

  --surface: #161616;
  --surface-clear: #4746464a;
  --surface-hover: oklch(25.904% 0.00002 271.152);

  --button-bg-default: #252527;

  --border: #646464;
  --border-surface: #343434;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}

.p0\.5 {
  padding: 0.5rem;
}

.p1 {
  padding: 1rem;
}

.sub-heading {
  font-size: 1.25rem;
  font-weight: 700;

  color: var(--text);
}

.fancy-text {
  font-family: var(--fancy-text);
}
