:root {
  --primary-dark: oklch(37% 0.1 257);

  --fancy-text: "Raleway";
  --base-text: "IBM Plex Sans";

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius: 6px;
  --radius-lg: 10px;
  --radius-round: 99px;

  --header-height: 60px;
}

#root {
  font-family: var(--base-text), Arial, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  color-scheme: light;

  --primary: oklch(57% 0.1 257);
  --primary-light: oklch(70% 0.13 257);
  --primary-dark: oklch(37% 0.1 257);

  --primary-soft: var(--primary-dark);
  --primary-deep: var(--primary-light);

  --text: #181b2a;
  --text-highlight: oklch(10.212% 0.00001 271.152);
  --text-secondary: #50596f;
  --text-muted: oklch(60.22% 0.00002 271.152);
  --text-link: #315fad;
  --text-brand: oklch(50% 0.11 265);
  --text-inverted: #fff;

  --button-text-default: var(--text-secondary);

  --bg: #fafafa;

  --surface: #f3f1f1;
  --surface-clear: #e0dede4a;
  --surface-hover: oklch(90.968% 0.00212 14.359);
  --surface-card: #ffffff;
  --surface-card-hover: oklch(95.968% 0.009 265);

  --button-bg-default: #e6e6ec;

  --border: #afafaf;
  --border-surface: #dde2ec;
  --border-surface-hover: #91acd5;
  --border-brand: oklch(90.968% 0.05 265);

  --divider: #afafaf;

  --green-badge-bg: #e6f3ec;
  --green-badge-border: #bddccb;
  --green-badge-text: #286348;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --primary: oklch(57% 0.1 257);
  --primary-light: oklch(77% 0.1 257);
  --primary-soft: var(--primary-dark);
  --primary-deep: var(--primary-light);
  --primary-dark: oklch(50% 0.1 257);

  --text: #ddd;
  --text-highlight: #fafafa;
  --text-secondary: #ccc;
  --text-muted: oklch(74.522% 0.0001 271.152);
  --text-link: oklch(85% 0.35 270);
  --text-brand: oklch(60% 0.11 265);
  --text-inverted: #000;

  --button-text-default: var(--text-secondary);

  --bg: #060606;

  --surface: #161616;
  --surface-clear: #4746464a;
  --surface-hover: oklch(25.904% 0.00002 271.152);
  --surface-card: oklch(22.697% 0.02739 277.704);
  --surface-card-hover: oklch(25% 0.035 275);

  --button-bg-default: #252527;

  --border: #646464;
  --border-surface: #2d3144;
  --border-surface-hover: #40567a;
  --border-brand: oklch(35% 0.035 275);

  --divider: #646464;

  --green-badge-bg: #21342f;
  --green-badge-border: #bddccb;
  --green-badge-text: #b0d6c7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}

.p0\.5 {
  padding: 0.5rem;
}

.p1 {
  padding: 1rem;
}

.sub-heading {
  font-size: 1.25rem;
  font-weight: 700;

  color: var(--text);
}

.fancy-text {
  font-family: var(--fancy-text);
}

hr {
  border-color: var(--divider);
}

.half-width {
  width: 50%;
  margin-inline: auto;
}
.quarter-width {
  width: 25%;
  margin-inline: auto;
}
